In [58]:
import time
import numpy as np
import random
import pandas as pd
import networkx as nx
import requests

In [59]:
resp = requests.get("https://api.aviationapi.com/v1/preferred-routes")

resp.status_code

200

In [60]:
route = resp.json()

In [61]:
route_df = pd.DataFrame(route)
route_df.head()

,origin,route,destination,hours1,hours2,hours3,type,area,altitude,aircraft,flow,seq,d_artcc,a_artcc
0,ABE,ABE FJC ARD CYN ACY,ACY,None,None,None,TEC,None,5000,None,None,1,ZNY,ZDC
1,ABE,ABE FJC LAAYK ALB,ALB,None,None,None,TEC,None,7000,None,None,1,ZNY,ZBW
2,ABE,ABE FJC LVZ AVP,AVP,None,None,None,TEC,None,7000,None,None,2,ZNY,ZNY
3,ABE,ABE FJC V162 HUO IGN PWL PWL111 BRISS BDL,BDL,None,None,None,TEC,None,5000,None,None,1,ZNY,ZBW
4,ABE,ABE ETX V39 LRP V499 BAL BWI,BWI,None,None,None,TEC,None,8000,None,None,3,ZNY,ZDC

In [62]:
route_df = route_df[['origin', 'destination']]

In [63]:
rbwi_df = (route_df.loc[route_df['origin'] == 'BWI'])
rbdr_df = (route_df.loc[route_df['origin'] == 'BDR'])
rlax_df = (route_df.loc[route_df['origin'] == 'LAX'])
rhou_df = (route_df.loc[route_df['origin'] == 'HOU'])
frame = [rbdr_df, rbwi_df, rlax_df, rhou_df]
rthree_df = pd.concat(frame)
rthree_df

     origin destination
637     BDR         ABE
638     BDR         ACK
639     BDR         ACY
640     BDR         ALB
641     BDR         ALB
...     ...         ...
3389    HOU         TPA
3390    HOU         TUL
3391    HOU         TUS
3392    HOU         TYS
3393    HOU         XNA

[522 rows x 2 columns]

In [64]:
graph1 = nx.Graph()

In [65]:
graph1 = nx.from_pandas_edgelist(route_df, 'origin', 'destination')

In [66]:
print("Nodes:", len(graph1.nodes))
print("Edges:", len(graph1.edges))

Nodes: 583
Edges: 4769

In [67]:
nx.write_graphml(graph1, "airportsdest.graphml")

In [68]:
graph2 = nx.Graph()

In [69]:
graph2 = nx.from_pandas_edgelist(rthree_df, 'origin', 'destination')

In [70]:
print("Nodes:", len(graph2.nodes))
print("Edges:", len(graph2.edges))

Nodes: 191
Edges: 270

In [71]:
nx.write_graphml(graph2, "airportsdest2.graphml")